@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pacifico";
  src: url("/fonts/Pacifico-Regular.ttf");
}

.container {
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
}
